.main{
    width: 500px;
    min-height: 70vh;
    margin-top: 10vh;
    background-color: rgba(0, 72, 154, 0.5);
    border-radius: 20px;
    padding: 10px;

}
.buttons{
    display: flex;
}
.commands{

}
.container{
    display: flex;
    justify-content: center;
}
.numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}